# DataFrame

In [1]:
import pandas as pd
import numpy as np

### Pandas DataFrame
    Series bekerja seperti kolom pada sebuah tabel, sedangkan DataFrame seperti sebuah kolom itu sendiri dalam bentuk Array 2D atau tabel dengan baris dan kolom.

### Membuat DataFrame

In [2]:
data = {"calories": [420, 380, 390],
        "duration": [50, 40, 45]}
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

### Mengakses elemen pada DataFrame

In [6]:
data = {"calories": [420, 380, 390],
        "duration": [50, 40, 45]}
df = pd.DataFrame(data)

print(df.loc[[0, 1]])    # Akses data pada indeks ke 0 dan ke 1

   calories  duration
0       420        50
1       380        40

### Bisa juga memberi nama pada indeks

In [17]:
data = {"calories": [420, 380, 390],
        "duration": [50, 40, 45]}
df = pd.DataFrame(data).T
df.index = ['calories', 'duration']

print(df)

            0    1    2
calories  420  380  390
duration   50   40   45

### Mendapatkan DataFrame dari fungsi read

In [ ]:
df = pd.read_csv('./data.csv')
print(df)

# Nah ketika di print maka akan berbentuk DataFrame kalau di Pandas