In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

# AMES HOUSING

### 1. Business & Data Understanding (Pemahaman Bisnis & Data)

#### - Tujuan
    Melakukan prediksi harga jual

#### - Sumber Data dan Format Data
Data berasal dari "https://www.kaggle.com/datasets/prevek18/ames-housing-dataset?resource=download" <br>Data memiliki format .csv

#### - Ukuran Data

In [2]:
data = pd.read_csv("AmesHousing.csv")
data.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [3]:
print('Jumlah column : ', data.shape[1])
print('Jumlah baris : ', data.shape[0])

Jumlah column :  82
Jumlah baris :  2930

In [4]:
# Melihat informasi data dan ada column apa saja
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot Shape        2930 non-null   object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     1155 non-null   object
 27  Mas Vnr Area     2907 non-null   float64
 28  Exter Qual       2930 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2850 non-null   object
 32  Bsmt Cond        2850 non-null   object
 33  Bsmt Exposure    2847 non-null   object
 34  BsmtFin Type 1   2850 non-null   object
 35  BsmtFin SF 1     2929 non-null   float64
 36  BsmtFin Type 2   2849 non-null   object
 37  BsmtFin SF 2     2929 non-null   float64
 38  Bsmt Unf SF      2929 non-null   float64
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2928 non-null   float64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     1508 non-null   object
 59  Garage Type      2773 non-null   object
 60  Garage Yr Blt    2771 non-null   float64
 61  Garage Finish    2771 non-null   object
 62  Garage Cars      2929 non-null   float64
 63  Garage Area      2929 non-null   float64
 64  Garage Qual      2771 non-null   object
 65  Garage Cond      2771 non-null   object
 66  Paved Drive      2930 non-null   object
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc Feature     106 non-null    object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

In [5]:
# Melihat data yang kosong

print('Jumlah data yang kolomnya ada yang kosong :',data.isnull().any().sum())
data.isnull().any()    #.astype(int)

Jumlah data yang kolomnya ada yang kosong : 27

Order             False
PID               False
MS SubClass       False
MS Zoning         False
Lot Frontage       True
                  ...
Mo Sold           False
Yr Sold           False
Sale Type         False
Sale Condition    False
SalePrice         False
Length: 82, dtype: bool

### 2. Data Cleaning & Analysis

In [6]:
# Lihat data kosong di kolom Lot Frontage(Luas Depan)
data['Lot Frontage'].isnull().sum()

np.int64(490)

In [7]:
# Isi data kosong di kolom Lot Frontage dengan rata-rata dari masing-masing Neighborhood

data['Lot Frontage'] = data.groupby('Neighborhood')['Lot Frontage'].transform(lambda x: x.fillna(x.median()))
data['Lot Frontage'].isnull().sum()

c:\Users\Suwaaan\anaconda3\Lib\site-packages\numpy\lib\_nanfunctions_impl.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\Suwaaan\anaconda3\Lib\site-packages\numpy\lib\_nanfunctions_impl.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

np.int64(3)

In [8]:
# Lihat data kosong di kolom Lot Frontage(Luas Depan) setelah diisi dengan median
data['Mas Vnr Area'].isnull().sum()

np.int64(23)

In [9]:
# Isi data kosong di kolom Mas Vnr Area dengan 0
data['Mas Vnr Area'] = data['Mas Vnr Area'].fillna(0)
data['Mas Vnr Area'].isnull().sum()

np.int64(0)

In [10]:
# Melihat data yang kosong dari kolom Garage Yr Blt
data['Garage Yr Blt'].isnull().sum()

np.int64(159)

In [11]:
# Isi data kosong di kolom Garage Yr Blt dengan Year Built
data['Garage Yr Blt'] = data['Garage Yr Blt'].fillna(data['Year Built'])
data['Garage Yr Blt'].isnull().sum()

np.int64(0)

In [12]:
# Fill data kosong di kolom Alley (Gang/Lorong)
data['Alley'] = data['Alley'].fillna('No_Alley')

# Fill data kosong di kolom Mas Vnr Type (Jenis Dinding)
data['Mas Vnr Type'] = data['Mas Vnr Type'].fillna('None')

# Fill data kosong di kolom Basement
columns_basement = ['Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2']
for col in columns_basement:
    data[col] = data[col].fillna('No_Basement')

# Fill data kosong di kolom Fireplace Qu
data['Fireplace Qu'] = data['Fireplace Qu'].fillna('No_Fireplace')

# Fill data kosong di kolom Garasi
columns_garage = ['Garage Type', 'Garage Finish', 'Garage Qual', 'Garage Cond']
for col in columns_garage:
    data[col] = data[col].fillna('No_Garage')

# Fill data kosong di kolom Pool QC (Kolam Renang)
data['Pool QC'] = data['Pool QC'].fillna('No_Pool')

# Fill data kosong di kolom Fence (Pagar)
data['Fence'] = data['Fence'].fillna('No_Fence')

# Fill data kosong di kolom Misc Feature (Fitur Lainnya)
data['Misc Feature'] = data['Misc Feature'].fillna('No_Misc_Feature')

In [13]:
print('Jumlah data yang kolomnya ada yang kosong :',data.isnull().any().sum())

Jumlah data yang kolomnya ada yang kosong : 10

In [14]:
data.to_csv('data_baru_bersih.csv', index=False)